body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.appGary {
  border: 1px solid #000000;
  background: #ffffff;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.center-chartGary {
  width: 100%;
  max-width: 900px;
}

.custom-marker {
  width: 30px;
  height: 30px;
}

.circle {
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 50%;
}

.gap-6 {
  gap: 1.5rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid {
  display: grid;
}

.md\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.w-full {
  width: 100%;
}

.containerGary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 800px;
  background: #ffffff;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 30px;

}

.containerGary .contentGary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 20px;
  /* Ajusta el valor de padding según tus necesidades */
  color: #0C2840;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.marker-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 32%;
}

.container-fluid {
  margin: 20px;
}

.est_header {
  background-color: #f0f0f0;
  padding: 10px;
}

.est_etiquetasGrandesAzules {
  color: #0e0f11;
  font-size: 1.5em;
}

.est_divContenedorSubTituloCentral,
.est_divContenedorDatosIndiceUV,
.est_divContenedorGoogleMpas,
.est_divContenedorDatosHistoricosUV {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
  margin-bottom: 20px;

}

.panel {
  margin-bottom: 20px;
}

.panel-body {
  margin-top: 20px;
}

.panel-body img {
  display: block;
  margin: 0 auto;
}

.panel-heading {
  background-color: #0C2840;
  color: #fff;
  padding: 10px;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #0C2840;
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
  background-color: #f0f0f0;
}

.est_etqTitulo {
  background-color: #0C2840;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.est_etiquetasNormalesBlancas18 {
  background-color: #0C2840;
  padding: 10px;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}

/* PRIMERA */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 15px;
}

.backgroundGary {
  width: 100%;
  height: 100vh;
  background: url('../img/UNI.png') no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
}

.cartcentradaAlineada {
  overflow: auto;
  height: 20px;
  align-Items: center;
}

.cartBorderG {
  border: 1px solid #000000;
  border-Radius: 0;
}

.registro-botonDeRegistroG {
  background-color: #0C2840;
  color: white;
  /* Cambiado a white para que el texto sea blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.centarESte {

  
}

.panelcentrargary {
  display: flex;
  flex-Direction: column;
  height: 400;
  align-Items: center;

}