.registro-fondo {
    background-image: url('../img/imagenesRegistro/UNI.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
}

.registro-containerPadre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registro-containerRegistro {
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    padding-left: 30px;
    max-height: 870px;
    margin-top: 50px;
}

.registro-tituloRegistro {
    padding-top: 20px;
    font-size: 50px;
    text-align: left;
    margin-bottom: 100px;
    color: #0C2840;
    text-align-last: center;
    
}

.registro-row {
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.registro-col {
    flex: 1;
    margin-right: 25px;
}

.registro-label {
    display: block;
    margin-bottom: 25px;
}

.registro-input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.registro-input:focus {
    outline: none;
    border-color: #34b338;
}

.registro-label {
    display: block;
    margin-bottom: 25px;
  }
  
  .registro-input[type="text"],
  .registro-input[type="email"],
  .registro-input[type="password"],
  .registro-input[type="date"],
  .registro-select,
  .registro-input[type="text"][placeholder] {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .registro-input[type="text"][placeholder]:focus,
  .registro-input[type="email"]:focus,
  .registro-input[type="password"]:focus,
  .registro-select:focus {
    outline: none;
    border-color: #34b338;
  }

.registro-name {
    padding-right: 40px;
    background-image: url('../img/imagenesRegistro/usuario.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.registro-lastname {
    padding-right: 40px;
    background-image: url('../img/imagenesRegistro/firma.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.registro-email {
    padding-right: 40px;
    background-image: url('../img/imagenesRegistro/correo.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  .registro-password {
    padding-right: 40px;
    background-image: url('../img/imagenesRegistro/confirmacion.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  

.registro-fechanac {
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.registro-peticion {
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px;
}

.registro-botonDeRegistro {
    width: 25%;
    padding: 15px;
    font-size: 15px;
    background-color: #0C2840;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;
    transform: translateY(-90%);
    margin-bottom: -10px;
}

.registro-botonDeRegistro:hover {
    background-color: #026e2f;
}


a {
    font-size: 15px;
    color: #ffffff;
    margin-right: 20px;
    padding-top: -100px;
    margin-top: -10px
}


.registro-span {
    font-size: 13px;
    color: #c71700;
    font-weight: bolder;
    border-radius: 4px;
}